body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d13b00;

  text-align: center;
  background-color: #d13b00;
  min-height: 1200px;
  color: white;
}

.App-header {
  height: 100px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.title {
  font-family: 'Roboto Bold', sans-serif;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: #d13b00;
}

.logo {
  height: 50%;
  width: 50%;
  /*border: 1px solid white;
  border-radius: 100%;
  margin: 50px auto;*/
};


.button-primary {
  display: block;
  height: 38px;
  padding: 0 30px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box; 
  min-width: 250px;
  margin: 5px auto;
}

.button-primary:hover {
    background-color: white;
    border: 1px solid white;
    color: #d13b00;
}

p {
  width: 250px;
  text-align: center;
  margin: 10px auto;
}

.vendor-name {
    background-color: #d13b00;
    border: 1px solid white;
    border-radius: 4px;
    width: 300px;
    margin: 5px auto;
    height: 40px;
}

.menu-item {
    background-color: white;
    border: 1px solid #d13b00;
    border-radius: 4px;
    width: 300px;
    color: #d13b00;
    margin: 0 auto;
}

h2 {
  padding-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}